<aside id="sidebar">

    <!-- Sidbar Widgets -->
    <div class="side-widgets overflow">
        <!-- Profile Menu -->
        <div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
            <a href="" data-toggle="dropdown">
                <img class="profile-pic animated" src="img/profile-pic.jpg" alt="头像">
            </a>
            <ul class="dropdown-menu profile-menu">
                <li><a href="">My Profile</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="">Messages</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="">Settings</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
                <li><a href="logout">登出</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
            </ul>
            <h4 class="m-0">Malinda Hollaway</h4>
            @malinda-h
        </div>

        <!-- Calendar -->
        <div class="s-widget m-b-25">
            <div id="sidebar-calendar"></div>
        </div>

    </div>

    <!-- Side Menu -->
    <ul class="list-unstyled side-menu">
        <li class="active">
            <a class="sa-side-home" href="fellowship">
                <span class="menu-item">Dashboard</span>
            </a>
        </li>
        <li>
            <a class="sa-side-typography" href="typography">
                <span class="menu-item">Typography</span>
            </a>
        </li>
        <li>
            <a class="sa-side-widget" href="content-widgets">
                <span class="menu-item">Widgets</span>
            </a>
        </li>
        <li>
            <a class="sa-side-table" href="tables">
                <span class="menu-item">Tables</span>
            </a>
        </li>
        <li class="dropdown">
            <a class="sa-side-form" href="">
                <span class="menu-item">Form</span>
            </a>
            <ul class="list-unstyled menu-item">
                <li><a href="form-elements">Basic Form Elements</a></li>
                <li><a href="form-components">Form Components</a></li>
                <li><a href="form-examples">Form Examples</a></li>
                <li><a href="form-validation">Form Validation</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="sa-side-ui" href="">
                <span class="menu-item">User Interface</span>
            </a>
            <ul class="list-unstyled menu-item">
                <li><a href="buttons">Buttons</a></li>
                <li><a href="labels">Labels</a></li>
                <li><a href="images-icons">Images &amp; Icons</a></li>
                <li><a href="alerts">Alerts</a></li>
                <li><a href="media">Media</a></li>
                <li><a href="components">Components</a></li>
                <li><a href="other-components">Others</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="sa-side-photos" href="">
                <span class="menu-item">PHOTO GALLERY</span>
            </a>
            <ul class="list-unstyled menu-item">

                <li><a href="photo-gallery-alt">Photo Gallery</a></li>
            </ul>
        </li>
        <li>
            <a class="sa-side-chart" href="charts">
                <span class="menu-item">Charts</span>
            </a>
        </li>
        <li>
            <a class="sa-side-folder" href="file-manager">
                <span class="menu-item">File Manager</span>
            </a>
        </li>
        <li>
            <a class="sa-side-calendar" href="calendar">
                <span class="menu-item">Calendar</span>
            </a>
        </li>
        <li class="dropdown">
            <a class="sa-side-page" href="">
                <span class="menu-item">Pages</span>
            </a>
            <ul class="list-unstyled menu-item">
                <li><a href="list-view">List View</a></li>
                <li><a href="profile-page">Profile Page</a></li>
                <li><a href="messages">Messages</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="404">404 Error</a></li>
            </ul>
        </li>
    </ul>

</aside>
